
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button */
.btn{
  color:rgb(6, 6, 6);
  background:white;
}

.textContainer {
  margin-bottom: 10px;
}


/* Cyber Vectors */
.path {
  animation: draw 15s infinite;
  animation-timing-function: linear;
}

.path-2 {
  animation: draw 20s infinite;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


