.container {
 
}

.title{
  margin:10px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button */
.btn{
  color:rgb(6, 6, 6);
  background:white;
}

.textContainer {
  margin-bottom: 10px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


